{% extends 'master.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block page_content %}
    <form id="operationalForm" style="display: none">
            {% csrf_token %}
        </form>
        <div class="card-body">
            <div class="m-t-25">
                <table id="addresses-data-table" class="table">
                    <thead>
                        <tr>
                            <th>
                                Address
                            </th>
                            <th>
                                Private Key
                            </th>
                            <th>
                                Public Key
                            </th>
                            <th>
                                WIF
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                    </thead>
                    <tbody id="address-table-body">
                        <tr></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                Address
                            </th>
                            <th>
                                Private Key
                            </th>
                            <th>
                                Public Key
                            </th>
                            <th>
                                WIF
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
{% endblock %}

{% block custom_js %}
    <script>

        $(document).ready(()=>{
            var user_data = JSON.parse(checkCookieData('user_data'));
            if (user_data !== null)
            {
                fill_table(user_data.user_id);
            }
        });

        /**
         * Adding the address rows to the data table
         * @param item Items to be used in the table
         */
        var addAddressRowNew = function (item) {

            var colAddress = '<td class="font-size-10" >' + item.address + '</td>';
            var colPrivate = '<td class="font-size-10">' + item.private + '</td>';
            var colPublic = '<td class="font-size-10">' + item.public + '</td>';
            var colWif = '<td class="font-size-10">' + item.wif + '</td>';
            var coldDetails = '<td><a href="addressdetails?addressID=' + item.address_id +'"><i class="anticon anticon-eye font-size-20"></i></a></td>'

            var rowOrder = "<tr>"
                    + colAddress + colPrivate + colPublic + colWif  + coldDetails + "</tr>";

            $("#address-table-body tr:last").after(rowOrder);
        }

        /**
         * Clear the Table make it ready for the records
         */
        var emptyAddressTable = function () {
            $("#address-table-body").find("tr:gt(0)").remove();
        }

        /**
         * Fill the addresses for the user into the table
         * @param user_id User ID
         */
        var fill_table = (user_id) => {

            const tokenizers = $('[name=csrfmiddlewaretoken]').attr('value'); // Use your method to get the CSRF token

            const payload = {
                "user_id" : user_id
            };

            $.ajax({
                    url: 'api/v1/adr/rest/read_address_list/',
                    type: 'POST',
                    data: JSON.stringify(payload),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    headers: { "X-CSRFToken": tokenizers },
                    error: function (xhr) {
                        console.log('Error: ' + xhr.statusText);
                        if(xhr.status === 500)
                        {
                            bootoast.toast({
                               message: 'An internal error happens. We are not able to process your request now!!',
                               type: 'danger',
                               position: 'right-top',
                               timeout: 10,
                               animationDuration: 300,
                               dismissible: true
                           });
                        }
                        if(xhr.status === 400)
                        {
                            bootoast.toast({
                               message: 'Invalid data.!!',
                               type: 'danger',
                               position: 'right-top',
                               timeout: 10,
                               animationDuration: 300,
                               dismissible: true
                           });
                        }
                    },
                    success: function (result) {
                        // Add the user data to the cookies
                        // Clear the table
                        emptyAddressTable();
                        // Add the rows to the table
                        result.forEach(function (item) {
                            addAddressRowNew(item);
                        });

                        // Load the data table
                        //$('#addresses-data-table').DataTable();

                    },
                    async: false,
                    cache: false,
                    timeout: 10000,
                    processData: false
                });



        }
    </script>
{% endblock %}

